body { padding-top: 52px; }

li>a:hover {

}

.navbar-default .navbar-collapse {
	background-color : white;
}

ul.nav>li {
	border-bottom-style: solid;
    border-bottom-width: 2px;
    border-bottom-color:  #F8F8F8;
}

ul.nav>li.active {
	border-bottom-style: solid;
    border-bottom-width: 2px;
    border-bottom-color: #473578;
}

.navbar-default {
	height : 52px;
}

.jumbotron {
	padding-top : 10;
	padding-bottom : 20;
	margin : 0;
	background-color: #473578;
	background-image: linear-gradient(to bottom, #302354 0px, #473578 100%);
}

.jumbotron > h1 {
	color : white;
	margin-top: 0;
}

.jumbotron > p {
	color : white;
}

.navbar-default .navbar-brand {
    color: #473578;
    font-size : 30px;
}

.navbar-default .navbar-nav > .active > a {
    color: #473578;
}

.navbar-default .navbar-nav > li:hover {
    color: #473578;
}

ul.nav>li:hover {
	border-bottom-style: solid;
    border-bottom-width: 2px;
    border-bottom-color: #473578;
}

.img-presentation {
	background-image :;
}

.banner-500 {
    overflow: hidden;
    background: none repeat scroll 0% 0% #EEE;
    position: relative;
    width: 100%;
    height: 500px;
}

.banner-400 {
    overflow: hidden;
    background: none repeat scroll 0% 0% #EEE;
    position: relative;
    width: 100%;
    height: 400px;
}

.banner-image {
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    height: 100%;
}

.banner-image-1 {
    background-image : url('../img/presentation.png');
}

.banner-image-2 {
    background-image : url('../img/presentation2.png');
}

.banner-image-3 {
    background-image : url('../img/presentation3.jpg');
}

.bs-docs-featurette {
    padding-top: 100px;
    padding-bottom: 100px;
    padding-top: 40px;
    padding-bottom: 40px;
    font-size: 16px;
    line-height: 1.5;
    color: #555;
    text-align: center;
    background-color: #FFF;
    border-bottom: 1px solid #E5E5E5;
}


.icon-pres  {
	font-size : 42px;
}

.h-200 {
    height: 200px;
}